doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    block css

    block head

  body
    section.navbar.navbar-fixed-top.navbar-inverse
      div.navbar-inner
        div.container
          a(data-collapse='collapse',data-target='.navbar-inverse-collapse').btn.btn-navbar
          a.brand Collabistic
          div#top-navbar.nav-collapse.collapse.navbar-inverse-collapse
            block topnav-items

    section.container#layout-container
      block content

    block footer

  script(data-main='js/main/app', src='js/lib/require-jquery.js')

  block scripts