extends layout

block css
  link(rel='stylesheet', href='/modules/authentication/css/authentication.css')

block topnav-items
  ul.nav
    li.active
      a(href='/',data-route='true') Login
    li
      a(href='/register',data-route='true') Register

block content
  div#login-content.row-fluid.row
    div.content
        div.row.well
            div.content
              h2 Login
              form#login-form.form-horizontal
                  div.control-group
                      label(for='email').control-label Email
                      div.controls
                          input(type='text',placeholder='Email')#email.input-xlarge
                  div.control-group
                      label(for='password').control-label Password
                      div.controls
                          input(type='password',placeholder='password')#password.input-xlarge
                  div.control-group
                      div.controls
                        ul#login-controls
                          li
                            a(href='/register', data-route='true').btn.btn-link Register
                          li
                            a(href='/forgot-password', data-route='true').btn.btn-link Forgot password?
                          li
                            button.btn Login